Package: sixarm-debian-apache-packages
Version: 1.0.3
Section: devel
Priority: optional
Architecture: all
Depends: apache2, apache2-doc, apache2-utils, apache2.2-common, apache2-mpm-prefork, apache2-prefork-dev, libapr1, libaprutil1, libpq5, libaprutil1-dev, libapr1-dev, libexpat1, ssl-cert, lynx, elinks
Maintainer: Joel Parker Henderson <joel@sixarm.com>
Description: Apache packages we like to use
 Apache packages we like to use together.



